traefik:
  logs:
    access:
      enabled: true
  global:
    checkNewVersion: false
    sendAnonymousUsage: false
  additionalArguments:
  - --serverstransport.insecureskipverify=true
  tlsStore:
    default:
      defaultCertificate:
        secretName: fincato-pnogo-wildcard-tls
  ports:
    websecure:
      transport:
        respondingTimeouts:
          readTimeout: 600
          writeTimeout: 600
          idleTimeout: 600
